body{
    font-family: "Crimson Text";
    text-align: justify;
    font-size: 120%;
    line-height: 1.5;
}

h1, h2{
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}
.texto-principal {
	text-align: center;
	background-color: #851944;
	color: #FFF;
	padding: 25px;
	border-bottom: 10px solid black;
	font-size: 60px;
	text-transform: uppercase;
}

.rodape-pagina{
    color: #ffffff;
    background-color: #000000;
    clear: both;
}
.navegação-site{
    text-align: center;
    background-color: #3c1d3d;
    color: #f2fffc;
    width: 15%;
    position: relative;
    
}
.navegação-site h1 {
    font-size: 30px;
    margin-bottom: 25px;
}
.navegação-site a{
    color: inherit;
    font-family: "Open Sans Condensed", sans-serif;
}
.citacao-bio, .navegação-site, .rodape-pagina{
    padding: 20px;
}
.icones-sociais li{
    display: inline-block;
}

nav a{
    text-transform: lowercase;
}
.icones-sociais a{
    height: 40px;
    width: 40px;
    display: inline-block;
    text-indent: -9999px;
}
.github {
    background-image: url(img/github.png);
}
.twitter{
    background-image: url(img/twitter.png);
}
.linkedin{
    background-image: url(img/linkedin.png);
}
main{
    float: left;
    width: 85%;
    background-color: #fafffc
}
.minha-foto, .navegação-site{
    float: left;
    box-sizing: border-box;
    border-left: 10px solid black;
    border-bottom: 10px solid black;
    position: relative;
    top: 310px;
}
.minha-foto{
	position: absolute;
    top: 0px;
    right: 0px;;
}
.foto-bmw{
    border: 8px solid black;
    margin: 16px 16px;
    float: left;
    position: relative;
    left:210px;
}
.foto-uol{
    border:  8px solid black;
    margin: 16px 16px;
    float: right;
    position: relative;
    right: 210px;

}
.foto-ibm{
    border:  8px solid black;
    margin: 16px 16px;
    float: left;
    position: relative;
    top: 200px;
    bottom: 16px;
    left: -163px;
}
.foto-g1{
    border: 8px solid black;
    margin: 16px 16px;
    float: right;
    position: relative;
    right: 210px;

}
.texto{
    margin-top: 50px;
    margin-left: 220;
}
.navegação-site, .rodape-pagina{
    padding: 20px;
}
.foto-bmw, .foto-g1{
    margin-bottom: 100px;
}